#urlap{
    background-color:rgba(0, 0, 2000, 0.10);
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    width: 23em;
    padding: 1em;
}
button{
    background-color: white;
    font-weight: bold;
    font-size: large;
    border: white;
    margin:0.1cm;  

}
input{
    margin: 0.2em;
}
input[type="submit"]{
    background-color: white;
    width: 50%;
    margin: 0.5em;
    padding: 0.7em;
}
#visszaigazolas{
    background-color:rgba(0, 0, 2000, 0.10);
    border-radius: 1em;
    text-align: center;
    width: 25em;
    margin: 1em 0em 0em 0em;
}
p{
    margin: 0%;
}